{% extends "user/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Sign Up  {% endblock %}

{% block content %}
<div class="container" style="ml-4">

<h1> <p class="text-dark">Sign up to participate :) </p>  </h1>
    <p class="text-danger">Note: Username should contain only one word.</p>
</div>

<!-- registration form-->
<div class="contianer" style="float:left; ml-4">

<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Log In</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}